body {
    font-family: sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.ad-banner {
    background-color: teal;
    height: 300px;
    width: 100vw;
}

.ad {
    background-color: navy;
}



.header {
    background-color: lightsalmon;
    height: 100px;
    width: 75vw;
    margin: auto;
}

.title {
    margin: auto;
    background-color: lightsalmon;
}

.brief-parent {
    width: 75vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px 100px;
    grid-gap: 5px;
    margin: auto;
    background-color:teal;
}
.brief {
    background-color: navy;
    width: 225px;
    height: 50px;
    margin: auto;
}

.stock {
    background-color: tomato;
    height: 70px;
    width: 75px;
    margin: auto;
}

.weather {
    background-color: tomato;
    height: 70px;
    width: 75px;
    margin: auto;
}

.after-first-ad {
    width: 75vw;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 5px;
    background-color: teal;
}

.topleft-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: orangered;
    width: 55vw;
}

.content {
    background-color: teal;
    height: 200px;
    width: 300px;
    margin-left: 10px;
}

.video {
    background-color: tomato;
    width: 400px;
    height: 250px;
    margin-right: 10px;
}

.side-info {
    background-color: lightsalmon;
    height: 50px;
    width: 300px;
    margin-left: 10px;
}

.update {
    background-color: navy;
    height: 75px;
    width: 400px;
    margin: 10px;
}

.middle-content-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:5px;
    background-color: teal;
    width: 55vw;
}

.political {
    background-color: navy;
    height: 150px;
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

.image-one {
    background-color: lightsalmon;
    height: 300px;
    width: 300px;
}

.side-story {
    background-color: tomato;
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

.topleft-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: orangered;
    width: 55vw;
}

.bottom-left-content {
    background-color: teal;
    height: 200px;
    width: 300px;
    margin-left: 10px;
}

.video {
    background-color: tomato;
    width: 400px;
    height: 250px;
    margin-right: 10px;
}

.side-info {
    background-color: lightsalmon;
    height: 50px;
    width: 300px;
    margin-left: 10px;
}

.update {
    background-color: navy;
    height: 75px;
    width: 400px;
    margin: 10px;
}